<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HIOKI_SAKURA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HIOKI_SAKURA.Properties.Settings>
            <setting name="MqttBroker" serializeAs="String">
                <value>10.13.29.11</value>
            </setting>
            <setting name="MqttPort" serializeAs="String">
                <value>1883</value>
            </setting>
            <setting name="MqttUsername" serializeAs="String">
                <value>gustest</value>
            </setting>
            <setting name="MqttPassword" serializeAs="String">
                <value>gus24837296</value>
            </setting>
        </HIOKI_SAKURA.Properties.Settings>
    </userSettings>
</configuration>